<h1> Dashboard </h1>

<div>
  <%= link_to "Edit My info", edit_user_path(current_user) %>
</div>

<div>
  <% unless current_user.location? %>
    <%= link_to "Register New Location", new_location_path %>
  <% end %>
</div>

<div class="location">
  <% if current_user.location? %>
    <%= render current_user.location %>
    <%= current_user.role %>
    <div>
      <%= render "shifts/user_schedule", {schedule: @schedule} %>
    </div>
  <% end %>
<div>
